---
layout: page
permalink: /
---
<html>
  <body class= "home-body">
    <div class="page-lead">
    <h1 class="main-hello">Hello world, I'm Sonda!</h1>
    <h2> Software Developer </h2>
    <span> <a href="/blog/" class="home-button">View Articles</a> or
    <a href="https://github.com/sondasengupta" class="home-button">Peruse my Github</a> </span>
  </div>

  <div class="hometile-wrapper">
    <div class="home-tile">
      <img class = "headshot" src="images/headshot.jpg" alt="pic of Sonda">
  </div>
    <div class="home-tile">
      <p> I've loved creating things ever since I was a kid. Nowadays, I make software for a living.</p>      
    </div>
    <div class="home-tile">
      <p>
        If you would like to get in touch just send a LinkedIn message at
        <a href="https://www.linkedin.com/pub/sonda-sengupta/57/121/948"> my LinkedIn profile</a>
      </p>
    </div>
  </div>

  <div class="homepost-wrapper">
      <ul class="post-list">
      {% for post in site.posts %}
        {% if post.categories contains 'blog' %}
          <li class="post-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            <span class="post-meta post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
        {% if post.categories contains 'portfolio' %}
          <li class="post-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            {% if post.app contains 'http' %}
              <a href={{post.app}}><img class="tile-icon" src="/icons/play-icon.png" title= "Go to the Demo"></a>
            {% endif %}
            <a href={{post.github}}><img class="tile-icon" src="/icons/small-github-icon.png" title= "Go to Github Page"></a>
            <span class="post-meta tile-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
        {% if post.categories contains 'resources' %}
          <li class="post-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}} & about {{post.about}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            <a href={{post.link}}><img class="tile-icon" src="/icons/webpage.png" title= "Go to the Creator's Page"></a>
            <span class="post-meta post-date tile-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>
  </body>
</html>
