---
layout: page
permalink: /
---
<html>
  <body class= "home-body">
    <div class="page-lead">
    <h1 class="main-hello">Hello world, I'm Sonda!</h1>
    <h2> Software Developer </h2>
    <span> <a href="/portfolio/" class="home-button">View my Portfolio</a> or
    <a href="https://github.com/sondasengupta" class="home-button">Peruse my Github</a> </span>
  </div>

  <div class="hometile-wrapper">
    <div class="home-tile">
      <h3> About Me </h3>
      <p> I've loved creating things ever since I was a kid from whimsical art to practical objects.</p>
      <p> Bringing together my two passions of art and practicality, <b><i> I make beautiful, useful software for a living. </b></i> </p>
  </div>
    <div class="home-tile">
      <h3> My Skills</h3>
      <p> My front end experience includes HTML, CSS, SASS, Bootstrap, Javascript, JQuery, and Angular.</p>
      <p> My back end experience includes the .NET Framework, including C#, XAML, and MySQL.</p>
    </div>
    <div class="home-tile">
      <h3> Yes, I am for Hire. </h3>
      <p>Currently, I am completing my formal developer education at the Nashville Software School.</p>
      <p>
        If you would like to get in touch or know more about my work, please visit my
        <a href="https://www.linkedin.com/pub/sonda-sengupta/57/121/948"> My LinkedIn profile. </a>
      </p>
    </div>
  </div>

  <div class="homepost-wrapper">
    <h1> Latest Posts </h1>
      <ul class="post-list">
      {% for post in site.posts limit:6 %}
        {% if post.categories contains 'blog' %}
          <li class="post-tile blog-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            <span class="post-meta post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
        {% if post.categories contains 'portfolio' %}
          <li class="post-tile portfolio-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            <a href={{post.app}}><img class="tile-icon" src="/icons/play-icon.png" title= "Go to the Demo"></a>
            <a href={{post.github}}><img class="tile-icon" src="/icons/small-github-icon.png" title= "Go to Github Page"></a>
            <span class="post-meta tile-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
        {% if post.categories contains 'resources' %}
          <li class="post-tile">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
            </h2>
            <span class="post-meta"> From my {{post.category}} & about {{post.about}}</span>
            <p>{{post.excerpt}}
              <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
            </p>
            <a href={{post.link}}><img class="tile-icon" src="/icons/webpage.png" title= "Go to the Creator's Page"></a>
            <span class="post-meta post-date tile-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>
  </body>
</html>
