---
layout: page
title: Resources
permalink: /resources/
---
<html>



  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains 'resources' %}
      <li class="post-tile resources-tile">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="largeimg" src={{post.img}}>{{ post.title }}</a>
        </h2>
        <span class="post-meta">About {{post.about}}</span>
        <p>{{post.excerpt}}
          <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
        </p>
        <a href={{post.link}}><img class="tile-icon" src="/icons/webpage.png" title= "Go to the Creator's Page"></a>
        <span class="post-meta post-date tile-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</html>
