.page-lead {
  background-image: url(https://lh6.googleusercontent.com/-wNh-SP0ZtUc/U1KaBndvMeI/AAAAAAAAEuE/3NPeYIgSFRM/w958-h539-no/IMG_20130813_132531_027.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  color: white;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  padding: 100px 50px;
  text-shadow: 1px 1px black;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.home-button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 2em;
  opacity: .7;
  text-shadow: none;
}

.home-button:hover {
  background-color: lightgray;
  text-decoration: none;
}
.home-tile {
float: left;
display: block;
margin: 4.35765%;
width: 23.23176%;
h3 {
  font-size: 1.5em;
  font-weight: bold;
  }
}

.home-body h1.post-title{
  display: none;
}

.blog-tile {
  display: inline-block;
  margin: 2.35765%;
  width: 23.23176%;
  .post-link{
    font-weight: bold;
  }
  img {
    height: 200px;
    width: 200px;
    display: block;
  }
}
