.page-lead {
  background-image: url(https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5);
/*   previous image was at https://lh6.googleusercontent.com/-wNh-SP0ZtUc/U1KaBndvMeI/AAAAAAAAEuE/3NPeYIgSFRM/w958-h539-no/IMG_20130813_132531_027.jpg
 */
 background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  color: white;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  padding: 100px 50px;
  text-shadow: 1px 1px black;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  margin-left: -100px;
  margin-right: -100px;
}

.site-title{
  font-size: 2rem;
  padding-top: 20px;
  :hover a {
    font-size: 3rem;
  }
}
.trigger{
  padding-right: 50px;
  font-size: 1.5rem;
  padding-top: 20px;
  :hover{
    font-size: 2rem;
  }
}

.home-button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 2em;
  opacity: .8;
  text-shadow: none;
  display: inline-block;
}

.home-button:hover {
  background-color: gray;
  text-decoration: none;
}

.home-tile {
float: left;
display: block;
margin: 4.35765%;
width: 23.23176%;
h3 {
  font-size: 1.5em;
  font-weight: bold;
  }
}

@media (max-width: $on-palm){
  .home-tile {
    width: 90%;
    margin: 2%;
  }
}


.home-body h1.post-title{
  display: none;
}

.hometile-wrapper{
  display: inline-block;
  text-align: center;
  .headshot {
    border-radius: 50%;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
  }
}

.homepost-wrapper{
  display: block;
  h1{
    display: block;
    padding-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
}

.post-list{
  background-color: #F0F0F5;
}

.post-tile {
  display: inline-block;
  width: 39%;
  padding: 6% 3% 6% 3%;
  margin: 2%;
  background-color: #fff;
  .largeimg {
    /* pictures are 430px width by 250px height */
    height: 250px;
    width: 96%;
    margin: -3% 2% 2% 2%;
  }
  .post-link{
    font-weight: bold;
  }
}

.tile-icon {
  margin: 1px;
  height: 30px;
  width: 30px;
  opacity: .7;
  display: inline;
}

.tile-icon:hover {
  opacity: 1;
}

.tile-date{
  margin-left: 50%;
  display: inline;
}

.site-footer{
  margin: 30px;
  text-align: center;
  h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .footer-icons{
    list-style: none;
    display: block;
    li {
      display: inline;
      :hover img{
        opacity: .5;
      }
    }
  }
  p{
    font-style: italic;
    font-weight: bold;
  }
}
