	
    section {
        clear: both;
				background-color: red;
    }
    h1 {
      border-bottom: 1px solid black;
    }
    section#education a {
        display: block;
        float: right;
	}
