---
layout: default
---
<div class="post">

  <header class="post-header"></header>
  <article class="post-content">
    {{ content }}
  </article>

  <div>
    <script>
      (function() {
        var cx = '007918222472144182689:gzmgb4eb0qm';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>

</div>
